/* Apply styles to the table container */
.table-container {
    /* border: 1px solid #000; */
    /* This sets the border of the table */
    z-index: 0;
}

/* Apply styles to table header cells */
th {
    font-size: 15px;
    position:sticky;
    /* height: 25px; */
    /* border: solid black; */
    border-width: thin;
    padding: 1px;
    font-size: small;
    /* This sets 
    the border of the table header cells */
}

/* Apply styles to table data cells */
.table-container td {
    text-align: center;
    border: solid #E7E8EE;
    font-size: small;
    border-width: thin;
    padding: 1px;
    /* This sets the border of the table data cells */
}
.tbleHead {
  font-size: small;
  text-align: center;
}
.setting_container {
    background-color: "";
  }
  
  .left-div {
    background-color: "whitesmoke";
  }
  
  .right-div {
    background-color: "#ffffff";
  }
  